/* navbar header */
.navHeader {
    padding: 16px;
}

.navHeaderText {
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
}

/* navbar header icon */
.navIcon {
    height: 45px;
    width: 45px;
}

/* navbar container */
.sidebar {
    height: 100vh; /* full height */
    width: 250px;
    position: fixed;
    top: 0; /* stay at the top */
    left: 0;
    z-index: 1; /* stay on top */
    overflow-x: auto; /* no horizontal scroll */
    background-color: #E8E8E8;
    align-items: top;
    padding: 0px;
}

/* navbar icons */
.navIcon {
    height: 25px;
    width: 25px;
}

/* navbar text */
.navText {
    padding-left: 10px;
}

/* nav pill active*/
.nav.nav-pills .nav-link.active {
    font-weight: 500;
    color: #494949;
    background-color: #D9D9D9;
}

/* nav link */
.nav-link {
    color: darkslategray;
}

/* nav link hover */
